# IDE
.idea/
.vscode/

# Composer
/vendor/
composer.phar

# PHP
.phpunit.result.cache
.php-cs-fixer.cache

# Project specific
/coverage/
/logs/*
!/logs/README.md
/var/*
!/var/cache
/var/cache/*
!/var/cache/.gitkeep
!/var/logs
/var/logs/*
!/var/logs/.gitkeep

# Database
/db_data/
*.sql
*.sqlite
*.sqlite3

# Environment
.env
.env.local
.env.*.local

# Misc
.DS_Store
Thumbs.db